<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsl.dao.KillOrderInfoMapper">
  <resultMap id="BaseResultMap" type="com.wsl.pojo.KillOrderInfo">
    <id column="killorderid" jdbcType="INTEGER" property="killorderid" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="killgoodsid" jdbcType="INTEGER" property="killgoodsid" />
    <result column="orderid" jdbcType="INTEGER" property="orderid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    killorderid, userid, killgoodsid, orderid
  </sql>
  <select id="selectByExample" parameterType="com.wsl.pojo.KillOrderInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from killorderinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from killorderinfo
    where killorderid = #{killorderid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from killorderinfo
    where killorderid = #{killorderid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wsl.pojo.KillOrderInfoExample">
    delete from killorderinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wsl.pojo.KillOrderInfo">
    <selectKey keyProperty="killorderid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into killorderinfo (userid, killgoodsid, orderid
      )
    values (#{userid,jdbcType=INTEGER}, #{killgoodsid,jdbcType=INTEGER}, #{orderid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wsl.pojo.KillOrderInfo">
    <selectKey keyProperty="killorderid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into killorderinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userid,
      </if>
      <if test="killgoodsid != null">
        killgoodsid,
      </if>
      <if test="orderid != null">
        orderid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="killgoodsid != null">
        #{killgoodsid,jdbcType=INTEGER},
      </if>
      <if test="orderid != null">
        #{orderid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wsl.pojo.KillOrderInfoExample" resultType="java.lang.Long">
    select count(*) from killorderinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update killorderinfo
    <set>
      <if test="record.killorderid != null">
        killorderid = #{record.killorderid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null">
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.killgoodsid != null">
        killgoodsid = #{record.killgoodsid,jdbcType=INTEGER},
      </if>
      <if test="record.orderid != null">
        orderid = #{record.orderid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update killorderinfo
    set killorderid = #{record.killorderid,jdbcType=INTEGER},
      userid = #{record.userid,jdbcType=INTEGER},
      killgoodsid = #{record.killgoodsid,jdbcType=INTEGER},
      orderid = #{record.orderid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wsl.pojo.KillOrderInfo">
    update killorderinfo
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="killgoodsid != null">
        killgoodsid = #{killgoodsid,jdbcType=INTEGER},
      </if>
      <if test="orderid != null">
        orderid = #{orderid,jdbcType=INTEGER},
      </if>
    </set>
    where killorderid = #{killorderid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wsl.pojo.KillOrderInfo">
    update killorderinfo
    set userid = #{userid,jdbcType=INTEGER},
      killgoodsid = #{killgoodsid,jdbcType=INTEGER},
      orderid = #{orderid,jdbcType=INTEGER}
    where killorderid = #{killorderid,jdbcType=INTEGER}
  </update>
</mapper>