<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="userService" class="com.wsl.UserServiceImpl"/>
    <bean id="log" class="com.log.Log"/>
    <bean id="afterLog" class="com.log.AfterLog"/>
<!--ctrl+shift+/注释-->
    <!--方式一-->
    <!--&lt;!&ndash;配置aop&ndash;&gt;
    <aop:config>
        &lt;!&ndash;切入点execution:要执行的位置&ndash;&gt;
        <aop:pointcut id="pointcut" expression="execution(* com.wsl.UserServiceImpl.*(..))"></aop:pointcut>
        &lt;!&ndash;执行环绕增加&ndash;&gt;
        <aop:advisor advice-ref="log" pointcut-ref="pointcut"/>
        <aop:advisor advice-ref="afterLog" pointcut-ref="pointcut"/>
    </aop:config>-->

    <!--方式二-->
<!--    <bean id="diy" class="com.diy.DiyPointCut"/>
    <aop:config>
        &lt;!&ndash;自定义切面 ref:要引用的类&ndash;&gt;
        <aop:aspect ref="diy">
            &lt;!&ndash;切入点&ndash;&gt;
            <aop:pointcut id="point" expression="execution(* com.wsl.UserServiceImpl.*(..))"/>
            &lt;!&ndash;通知&ndash;&gt;
            <aop:before method="before" pointcut-ref="point"/>
            <aop:after method="after" pointcut-ref="point"/>
        </aop:aspect>
    </aop:config>-->
    <!--方式三-->
    <bean id="annotationPointCut" class="com.diy.AnnotationPointCut"/>
    <!--开启注解支持 JDK(proxy-target-class="false")  cglib(proxy-target-class="true")-->
    <aop:aspectj-autoproxy proxy-target-class="false"/>
</beans>