<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个mapper(dao)接口-->
<mapper namespace="dao.UserMapper">

    <resultMap id="UserMap" type="User">
       <!-- <result column="id" property="id"/>-->
        <!--<result column="name" property="name"/>-->
        <result column="pwd" property="password"/>
    </resultMap>
    <select id="getUserById" resultMap="UserMap" parameterType="int">
        select *
        from mabatis.user
        where id=#{id}
    </select>
<!--分页用limit实现-->
    <select id="getUserByLimit" resultType="User" parameterType="map">
         select *
        from mabatis.user limit #{startIndex},#{pageSize}
    </select>
    <!--分页用RowBounds实现-->
    <select id="getUserByRowBounds" resultType="User">
         select *
        from mabatis.user
    </select>
</mapper>