<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于2020年暑期工作安排的通知</title>

</head>
<body>
<div>
    <p>
        关于2020年暑期工作安排的通知</p>
    <p>
        <br>
        发布时间： 2020/07/08 15:28:54　浏览次数：9471　编辑：学院办公室
    </p>
</div>
<hr>
<br>
<div>
    <p>
        院属各单位：</p>
    <br>
        <p>为做好疫情防控常态化条件下学院各项工作，根据校历安排，结合学院工作实际，现将2020年暑期工作及有关事项通知如下：</p>
    <br>
    <p>  一、暑假及秋季学期开学时间</p>
    <br>
    <p>   1．暑假时间：7月13日-8月22日</p>
    <br>
    <p>   2．秋季学期开学时间：8月22日</p>
    <br>
    <p>   （1）老生8月22日（星期六）、8月23日（星期日）到校办理报到注册手续，8月24日（星期一）正式上课；新生报到时间以通知书为准。如有特殊情况，另行通知。</p>
    <br>
    <p>  （2）教职工8月22日（星期六）正式上班。</p>
    <br>
    <p>    二、有关工作安排及要求</p>
    <br>
    <p>   1．各单位要在保证学院有关工作正常运转的情况下安排教职工轮休。假期确因工作需要申请加班的单位，按照有关规定，于7月11日前书面报人事处审核备案。</p>
    <br>
    <p>  2．放假前，各单位要进行一次安全检查，采取有力措施，消除安全隐患。保卫处要继续严格暑期校园管理和人员管控，凭通行证出入校园。</p>
    <br>
    <p>   3．各单位要做好疫情防控信息报送，坚持“日报告”“零报告”制度；所有因公因私离开荆州的教职工要按学院疫情防控指挥部要求，履行外出报备手续。</p>
    <br>
    <p>  4．承担学院转设相关工作的单位和个人，要根据学院转设工作办公室的安排，做好暑假期间的转设相关工作。</p>
    <br>
    <p>    5．各单位要加强师生安全常识教育，提高师生安全防范意识，特别要加强防汛减灾、防火、防盗、防溺水教育；就业处要组织好毕业生就业信息核查工作；学工处要组织好辅导员培训工作。</p>
    <br>
    <p>  6．招生办公室、教务处等单位要认真做好“专升本”考试及招生工作，确保组织到位、部署周密、准备充分、安全有序。</p>
    <br>
    <p>   7．各单位负责人要确保电话联络畅通；值班人员要坚守岗位，遇有重大突发事件，要按规定及时报告并妥善处置。</p>
    <br>
    <p>    保卫处24小时应急值班电话：0716-8067489。</p>
<br>



    <p> 学院办公室</p>
       <p> 2020年7月8日</p>
</div>

</body>
</html>